*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# dszyServer/server-deploy/local_config/

*/**/.settings
*/**/log/log
*/**/log/log/.*
*/**/target
*/**/.*
*/**/*-reduced-pom.xml


.idea/
.idea/codeStyles
.idea/libraries
.idea/*.xml
*.iml
log
target
build
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!*/src/**/*